.block {
    width: 100%;
    background-color: #BB1D1E;
 
    box-sizing: border-box;
    padding:44px 47px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:26px;
    flex-wrap: wrap;
}