.block {
    width: 335px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.block__img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(219, 45, 45, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text p:first-child {
    color: #3E4954;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text p:last-child {
    color: #3E4954;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
}